.list-container {
    display: block;
    list-style: none;
    padding: 0;
}

.num-pages {
    margin: 1em;
}

.hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}