.loading {
  height: 100%;
  line-height: inherit;
}

.loading__dot {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.4em 0.4em 0.2em 0.4em;
    border-radius: 50%;
    background-color: white;
    animation: wave 1s ease-out infinite;
}

.loading__dot--gray {
  background-color: grey;
}

.loading .loading__dot:nth-child(2) {
    animation-delay: 0.3s;
}

.loading .loading__dot:nth-child(3) {
    animation-delay: 0.6s;
}
  
@keyframes wave {
    50%,
    75% {
      transform: scale(2.5);
    }
  
    80%,
    100% {
      opacity: 0;
    }
  }
  