.search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.search-form > * {
    margin: 0.5em;
}

.search-form__select {
    -webkit-appearance:none;
    padding: 0.5rem;
    border: 1px solid silver;
    border-radius: 0;
    height: 100%;
    align-self: stretch;
}

.search-form__input {
    padding: 0.5rem;
    border: 1px solid silver;
    border-radius: 0;
    height: 100%;
    min-width: 30%; 
    align-self: stretch;
    flex: 1
}